/* Insert Your Custom CSS Here */

/*#search-bo{
	width: 150px;
}

.content-categorias{
	width: 100%;
	position: fixed;
	overflow-y: visible;
	overflow-x: hidden;
	display: none;

}

.content-table-categorias{
	width: 80%;
	max-height: 200px;
	margin-left: 10px;
}

.content-categorias table{
	width: 100%;

}

tbody tr td a{
	display: block;
	padding: 10px;
	color: orange;
	text-decoration: none;

}*/

